# Processamento distribuído com PySpark
pyspark==3.5.1

# AWS S3
boto3==1.34.89

# Tipagem e datas
python-dateutil==2.9.0.post0

# Barra de progresso
tqdm==4.66.4

# Para desenvolvimento e consistência
setuptools==69.5.1